
.cabecera {
    padding: 50px 0px 20px;
    width: var(--default-size);
    margin: 0 auto;
}

.cabecera__titulo {
    font-size: 3rem;
}


/* Media queries */

@media (max-width: 576px) {
    .cabecera { text-align: center; }
}


