.libro__contenido{
    padding: 10px;
    width: 150px;
}

.libro__titulo{
    margin: 5px 0;
}

.libro__autor{
    font-weight: bold;
}

.libro__portada {
    border: 10px solid rgb(0, 0, 0);   

}

.libro__portada img{
    width: 100%;


}